body{
  background-color: black;
  display: block;
}
header{
    color: green;
}
.menu-list{
  text-align: justify;
  float: left;
  margin: 0;
  padding: 0;
  border-style: solid;
}
.menu{
  font-family: 'Inter', sans-serif;
  display: inline-block;
  text-decoration: none;
  line-height: 95px;
  text-align: center;
  color: white;
}
.menu:hover{
  font-weight: 900;
}
.container {
  display: flex;
}

.center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
.right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  margin: auto;
  text-align: right;
}

.lintext {
  display: flex;
  overflow: hidden;
  border-right: .15em solid green;
  white-space: nowrap;
  animation: typing 2s steps(40, end), blink-caret .5s steps(20, end) infinite;
  font-size: 2em;
  color: green;
  font-family: 'Inconsolata', monospace;
}
.text {
  font-size: 2em;
  color: green;
  font-family: 'Inconsolata', monospace;
}

.text {
  display: inline-flex;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: green;
  }
}
.linuxtitlediv{
  display: block;
  text-align: center;
}
.linuxtitle{
  color: white;
  font-size: 400%;
  font-family: 'Montserrat', sans-serif;
}
.whatlinux{
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}
.footercontainer{
  display: block;
}
footer{
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.topbarimage{
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url(../images/metasploit.png);
  background-color: purple;
  background-position: center;
}
.cmdlineimage{
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url(../images/terminal.png);
  background-color: purple;
  background-position: center;
}
.userfriendlyimage{
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url(../images/kdedesktop.png);
  background-color: purple;
  background-position: center;
}
.userfriendlyimage{
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url(../images/kdedesktop.png);
  background-color: purple;
  background-position: center;
}
.ubuntuimage{
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url(../images/ubuntu-desktop.jpg);
  background-color: purple;
  background-position: center;
}
.tableclass, th, td {
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: 1px;
  border-style:ridge;
  border-color: white;
}
.aclass{
  text-decoration: none;
  color:aqua;
}
blockquote {
  z-index: -1;
  font-family: Georgia, serif;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
  color:white;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
  color:white;
}
blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
  float:right;
  font-size:6em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
  color:white;
}
.button{
  background-color: green;
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 40px;
}
textarea {
  width: 300px;
  height: 150px;
}
video{
  width: 50%;
  height: 50%;
}
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transform: scale(0);
  transition: 0.5s;
}

#menu-overlay.active {
  transform: scale(1);
}

#menu-overlay ul {
  position: relative;
}

#menu-overlay ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: block;
}

#menu-overlay ul li a {
  position: relative;
}

#menu-overlay ul li a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background: white;
  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  transition: 0.5s transform;
}


#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url(../images/ham.svg);
  z-index: 1;
  cursor: pointer;
}

#toggleIcon.active {
  background: url(../images/close.png);
}
@media (max-width: 900px) {
  .center img, .right img, video{
    height:200px;
    width:400px;
  }
}
